.figure{
    position: absolute;
    top: 600px;
    left: 20px;
    width: 1000px;
    height: 500px;
    background-color: aqua;
    border: 50px solid green;
    }
.square-1{
    position: relative;
    top: -300px;
    left: 480px;
    width: 500px;
    height: 300px;
    background-color: chocolate;
}
.other-1{
    position: relative;
    left: 100px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 150px solid red;
}
.triangle-2{
    position: relative;
    top: -120px;
    left: 130px;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 100px solid peru;
}

.trapetion-2{
    position: relative;
    top: 100px;
    left: 75px;
    width: 300px;
    height: 200px;
    background-color: crimson;
    border: 50px solid yellowgreen; 
}
.circle-1{
    position: relative;
    top: -540px;
    left: 27%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: teal;
    border: 15px solid goldenrod ;
}
.first-line{
    position: absolute;
    top: 20px;
    left: 20px;;
    width: 500px;
    height: 150px;
    }
.circle{
    position: absolute;
    left: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: navy;
    border: 5px solid palevioletred;
}
.triangle-down{
    position: absolute;
    left: 400px;
    top: 0;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-top: 150px solid blue;    
}
.square{
    position: absolute;
    top: 0;
    left: 650px;
    width: 135px;
    height: 135px;
    background-color: orangered;
    border: 15px solid darkorange;
}
.trapetion{
position: absolute;
left: 900px;
height: 0;
width: 200px;
border-right: 200px solid transparent;
border-left: 0px solid transparent;
border-bottom: 160px solid brown;
}
.triangle{
    display: inline-block;
	border: 160px solid transparent;
	border-bottom: 155px solid orange;
	position: relative;
    top: -150px;
    left: 1400px;
}
.triangle:after{
    content: '';
	display: inline-block;
	position: absolute;
	top: -133px;
	left: -140px;
	border: 140px solid transparent;
	border-bottom: 140px solid white;
}